Source: ros-lunar-twist-recovery
Section: misc
Priority: extra
Maintainer: Martin Günther <martin.guenther@dfki.de>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-base-local-planner, ros-lunar-catkin, ros-lunar-costmap-2d, ros-lunar-geometry-msgs, ros-lunar-nav-core, ros-lunar-pluginlib
Homepage: http://wiki.ros.org/twist_recovery
Standards-Version: 3.9.2

Package: ros-lunar-twist-recovery
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-base-local-planner, ros-lunar-costmap-2d, ros-lunar-geometry-msgs, ros-lunar-nav-core, ros-lunar-pluginlib
Description: A recovery behavior that performs a particular used-defined twist.
