Source: ros-melodic-goal-passer
Section: misc
Priority: extra
Maintainer: Martin Günther <martin.guenther@dfki.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-costmap-2d, ros-melodic-nav-core, ros-melodic-pluginlib, ros-melodic-roscpp
Homepage: http://wiki.ros.org/goal_passer
Standards-Version: 3.9.2

Package: ros-melodic-goal-passer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-costmap-2d, ros-melodic-nav-core, ros-melodic-pluginlib, ros-melodic-roscpp
Description: A global planner plugin for move_base that simply passes the target pose on as a global plan.
 Useful for debugging local planners.
